# `psycopg2`: Manipulate SQL data

In [1]:
import psycopg2

## Connection String

There are a variety of ways to define your PostgreSQL connection parameters. The most convenient method is to use the URI, which is a string that includes the database name, host, user, password, etc.

In [2]:
uri = "postgresql://postgres:password@localhost:5432/notebook_demo"

## Generate SQL

You can do this as a raw string or with a variety of SQL-syntax composers if you need to dynamically insert data values. Use whatever is easiest for you. I find F-strings to be the easiest method for me.

In [3]:
create_table_query = """
create table if not exists people (
    first_name text,
    last_name text,
    job_title text
);
"""

insert_data_query = """
insert into people(first_name, last_name, job_title)
values
    ('Ron', 'Hextall', 'Goalie'),
    ('Bobby', 'Clarke', 'Center');
"""

## Connect & Execute

Let's define a function named `run_sql()` that connects to Postgres and executes a query.

There is an optional flag `commit` which will save the results of the query to the database when set to `True`. If `False` it will return the result of the query.

In [4]:
def run_sql(query: str, uri: str, commit: bool = False):
    """
    Connect to a PostgreSQL database with its uri.
    Execute a query, and commit if True. If False,
    return the query output.
    """

    try:
        connection = psycopg2.connect(uri)
        cursor = connection.cursor()

        cursor.execute(query)

        if commit:
            connection.commit()
            
            result = None
        
        else:
            result = cursor.fetchall()

    finally:
        cursor.close()
        connection.close()

    return result

In [5]:
# Create the table

run_sql(create_table_query, uri, commit=True)

In [6]:
# Insert data into the table

run_sql(insert_data_query, uri, commit=True)

In [7]:
# Get data out of the SQL table into Python

select_query = """
    select
        concat(first_name, ' ', last_name) as name,
        job_title
    from
        people;
"""

data = run_sql(select_query, uri)

for row in data:
    print(row)

('Ron Hextall', 'Goalie')
('Bobby Clarke', 'Center')